<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Homely &ndash;about</title>
  </head>
  <body class="flex flex-col justify-between">
    <header
      class="w-[86%] m-auto flex justify-between items-center text-[#121212] py-6"
    >
      <div class="logo">
        <a href="/">
          <img src="/images/logo.svg" alt="" />
        </a>
      </div>
      <nav class="flex">
        <a class="mx-2" href="/">Home</a>
        <a class="mx-2" href="/explore">Explore</a>
        <a class="mx-2" href="/about">About</a>
        <a class="mx-2" href="/contact">Contact</a>
      </nav>
      <div class="btn flex">
        <a
          href="/sign-in"
          class="border-solid border-[1px] border-black mx-4 rounded py-2 px-4"
          >sign in</a
        >
        <a href="/sign-up" class="rounded py-2 px-4 bg-[#240046] text-white"
          >create account</a
        >
      </div>
    </header>

    <main>
      <section
        class="hostel-facilities flex w-[86%] m-auto my-8 justify-between items-center gap-2"
      >
        <div class="hostel-views gap-3 flex flex-col w-3/4">
          <div class="max-h-[500px]">
            <img
              src="/images/bedroom.png"
              alt=""
              class="main-slide-image w-full h-[500px]"
            />
          </div>
          <div class="flex gap-3 flex-wrap">
            <img
              src="/images/hostel.jpg"
              alt=""
              class="lg:w-[23.5%] w-[150px] sub-slide-image object-cover"
            />
            <img
              src="/images/hostel.jpg"
              alt=""
              class="lg:w-[23.5%] w-[150px] sub-slide-image object-cover"
            />
            <img
              src="/images/hostel.jpg"
              alt=""
              id="test"
              class="lg:w-[23.5%] w-[150px] sub-slide-image object-cover"
            />
            <img
              src="/images/hostel.jpg"
              alt=""
              class="lg:w-[23.5%] w-[150px] sub-slide-image object-cover"
            />
          </div>
        </div>
        <div class="hostel-details">
          <div>
            <h1 class="text-4xl">Lambo Phase 1</h1>
            <div class="flex items-center gap-2 my-2">
              <img src="/images/location.svg" alt="" class="" />
              <span>Safari, Malete</span>
            </div>
            <div class="flex items-center gap-2 my-2">
              <img src="/images/icon-bedroom.svg" alt="" />
              <span>1 bedroom</span>
            </div>
            <div class="flex items-center gap-2 my-2">
              <img src="/images/icon-kitchen.svg" alt="" />
              <span>1 kitchen</span>
            </div>
            <div class="flex items-center gap-2 my-2">
              <img src="/images/icon-restroom.svg" alt="" />
              <span>1 restroom</span>
            </div>
            <div>
              <span>Available rooms (10)</span>
            </div>
            <div>
              <a
                href="/sign-up"
                class="rounded py-2 px-4 bg-[#240046] text-white"
                >Book now</a
              >
            </div>
          </div>
        </div>
      </section>

      <div class="w-[86%] m-auto text-lg">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
          imperdiet nam ac, pellentesque sed cursus quam cras arcu. Sit
          ullamcorper at volutpat et, tortor. Neque, turpis pharetra, sit nulla
          eu elementum, imperdiet quis diam. Est urna neque volutpat, lacus.
          Odio ultrices sed etiam pharetra nullam. Vehicula facilisi nam
          condimentum sed elementum vitae phasellus tempus senectus. Eget sed
          velit viverra bibendum magna porta eleifend. Facilisis in tincidunt
          fermentum, arcu viverra quis molestie. Porta in lobortis id id duis
          consectetur duis semper.
        </p>
      </div>

      <div class="w-[86%] m-auto my-9">
        <h2 class="font-bold text-2xl">Why you'll love it here</h2>
        <div>
          <div class="flex items-stretch gap-2 my-3">
            <img src="/images/verified.svg" alt="" />
            <span>Conducive Environment</span>
          </div>
          <div class="flex items-stretch gap-2 my-3">
            <img src="/images/verified.svg" alt="" />
            <span>Conducive Environment</span>
          </div>

          <div class="flex items-stretch gap-2 my-3">
            <img src="/images/verified.svg" alt="" />
            <span>Electricity</span>
          </div>
        </div>
        <div>
          <a href="/sign-up" class="rounded py-2 px-4 bg-[#240046] text-white"
            >Book now</a
          >
        </div>
      </div>
    </main>

    <footer class="bg-[#240046] text-white mt-16 py-11">
      <div class="w-[86%] m-auto">
        <div class="flex justify-between items-stretch gap-5 border-b-2 pb-5">
          <div class="max-w-sm">
            <img src="/images/footer-logo.svg" alt="" class="block mb-5" />
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae
              eget rhoncus justo, nunc. Amet nibh magna sit venenatis erat
              blandit. Urna, pulvinar euismod nisi dui.
            </p>
          </div>

          <div class="flex gap-5">
            <div class="flex m-auto gap-5 items-stretch">
              <div>
                <h2 class="text-3xl mb-5">Company</h2>
                <a href="" class="block my-5">Home</a>
                <a href="" class="block my-5">About</a>
                <a href="" class="block my-5">Explore</a>
              </div>

              <div>
                <h2 class="text-3xl mb-5">Help</h2>
                <a href="" class="block my-5">Contact</a>
              </div>

              <div>
                <h2 class="text-3xl mb-5">Other</h2>
                <a href="" class="block my-5">Login</a>
              </div>
            </div>
          </div>
        </div>

        <div class="flex justify-between items-center mt-5">
          <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
          <div class="icons flex gap-6 items-center">
            <a href=""><img src="/images/facebook-icon.png" alt="" /></a>
            <a href=""><img src="/images/twitter-icon.png" alt="" /></a>
            <a href=""><img src="/images/instagram-icon.png" alt="" /></a>
            <a href=""><img src="/images/linkedin-icon.png" alt="" /></a>
          </div>
        </div>
      </div>
    </footer>

    <script src="/js/slideShow.js"></script>
  </body>
</html>
